*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(64, 83, 255);
}
.cart_cart{  
    text-align: center;
    background-color: rgb(64, 83, 255); 
}
.cart_cart button{
    border: none;
    background:rgb(0, 5, 77);
    padding: 0.5rem;
    padding-bottom: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.0rem;
    color: white;
    justify-content: space-around;
}
.cart_cart button:hover{
    transform: scale(1.06);
    transition-duration: 0.5s;
    background-color: rgb(160, 166, 255);
}
.cart_cart p{
    color: white;
    font-size: 25px;
}
.cart_cart h1{
    color: white;
    font-size: 35px;
}
.cart_cart h3{
    color: white;
    font-size: 35px;
}
.cart_cart1{  
    text-align: center;
    background-color: rgb(64, 83, 255); 
}
.cart_cart1 button{
    border: none;
    background:rgb(0, 5, 77);
    padding: 0.5rem;
    padding-bottom: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.0rem;
    color: white;
    justify-content: space-around;
}
.cart_cart1 button:hover{
    transform: scale(1.06);
    transition-duration: 0.5s;
    background-color: rgb(160, 166, 255);
}
.cart_cart1 p{
    color: white;
    font-size: 25px;
}
.cart_cart1 h1{
    color: white;
    font-size: 35px;
}
.cart_cart1 h3{
    color: white;
    font-size: 35px;
}