@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Comforter+Brush&family=Open+Sans&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cartList { 
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin: 1rem;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 5, 77);
}
h2 {
    font-size: 2rem;
    margin: 1rem;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 5, 77);
}
h1:hover {
    transform: scale(1.05);
    transition: all 0.9s;
}
h2:hover {
    transform: scale(1.05);
    transition: all 0.9s;
}