@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Comforter+Brush&family=Open+Sans&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cartForm {
    text-align: center;
    background-color: #3856ff;
    font-family: 'Bakbak One', cursive;
}

.cartForm__title {
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Bakbak One', cursive;
}

.cartForm__input {
    width: 40%;
    margin: 0.5rem auto;
    display: block;
    color: rgb(0, 0, 0);
    align-items: center;
    text-shadow: 5px 5px 5px #3856ff;
    font-family: 'Bakbak One', cursive;
}

.cartForm__textarea {
    width: 40%;
    margin: 0.5rem auto;
    display: block;
    color: rgb(0, 0, 0);
    align-items: center;
    text-shadow: 5px 5px 5px 5px #3856ff;
    font-family: 'Bakbak One', cursive;
}

.cartForm__error {
    margin: 0.5rem auto;
    display: block;
    color: rgb(0, 0, 0);
    align-items: center;
    text-shadow: 5px 5px 5px #3856ff;
    font-family: 'Bakbak One', cursive;
}

.cartForm__error {
    color: red;
    margin-bottom: 1rem;
    font-family: 'Bakbak One', cursive;
}

#areadetexto {
    background-color: #ffffff7e;
    transition: all 2s;
    align-items: flex-end;
}

input {
    background-color: #ffffff7e;
    transition: all 2s;
    align-items: flex-end;
    border-radius: 5px 5px 5px 5px;
}

input:focus {
    font-size: 18px;
    background-color: #3856ff;
    border: 5px dotted rgb(0, 5, 77);
    border-radius: 5px 5px 0 0;
    color: rgb(0, 0, 0);
}

input::placeholder {
    color: #000000;
}

.cartForm__textarea {
    background-color: #ffffff7e;
    transition: all 2s;
    align-items: flex-end;
    border-radius: 5px 5px 5px 5px;
}

.cartForm__textarea:focus {
    font-size: 18px;
    background-color: #3856ff;
    border: 5px dotted rgb(0, 5, 77);
    border-radius: 5px 5px 0 0;
    color: rgb(0, 0, 0);
}

.cartForm__textarea::placeholder {
    color: #0000
}