@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Comforter+Brush&family=Open+Sans&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.itemList {
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    background-color: #3856ff;
    min-height: calc(100vh - 85px);
}

@media (min-width: 600px) {
    .itemList {
        min-height: calc(100vh - 50px);
    }
}

@media (min-width: 768px) {
    .itemList {
        min-height: calc(100vh - 59px);
    }
}